.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => '#'} CrowdFunder
      .nav-collapse.collapse
        %ul.nav
          %li{:class => ('active' if controller_name == 'home') }
            = link_to 'Home', :root
          %li{:class => ('active' if controller_name == 'projects') }
            = link_to 'Projects', :projects