%div= form.text_field :title, placeholder: "Project title"
%div= form.text_field :teaser, placeholder: "Teaser (brief)"
%div= form.text_area :description, rows: 6, placeholder: "Description (detailed)"
%div= form.number_field :goal, placeholder: "Fundraising goal (USD)"